# Ignore Gradle project-specific cache directory
**/.gradle

# Ignore Gradle build output directory
**/build

# Ignore Java directory for first round
java_starting_point

# Ignore VS Code files
.vscode

# Ignore virtual environment files
.venv

# Ignore compiled python
**__pycache__

# Ignore test files
tests/test_files